In [8]:
import pandas as pd
import numpy as np
import openpyxl
from datetime import datetime
from dateutil.relativedelta import relativedelta
import gc

In [9]:
billing_period = "2025-01-01"
dt = datetime.strptime(billing_period, "%Y-%m-%d")
check_period = dt - relativedelta(months=1)
check_period = check_period.strftime("%Y-%m-%d")
check_period

'2024-12-01'

In [10]:
# Filter for specific dates
new_df = pd.read_excel("Elster A1700/new_df.xlsx")
filtered_df = new_df[new_df['billing_period'].isin([billing_period, check_period])]
filtered_df

,billing_period,cumulative_import,cumulative_export,apparent_import,reactive_import,reactive_export,rate1,rate2,rate3,rate4,...,max_dem1_datetime,max_dem2,max_dem2_datetime,max_dem3,max_dem3_datetime,no_of_resets,vt_ratio,ct_ratio,date_of_last_reset,programing_count
0,2025-01-01,1.069055e+09,1.069055e+09,1.124499e+09,3.392634e+08,40923.367468,5.776792e+08,3.154953e+08,1.758809e+08,8.378414,...,2025-01-08 15:00,19028160.0,2025-01-20 20:30,12252480.0,2025-01-17 00:30,136.0,NaN,NaN,NaN,NaN
1,2024-12-01,1.058682e+09,1.058682e+09,1.113764e+09,3.365440e+08,40923.367468,5.719287e+08,3.125647e+08,1.741887e+08,8.378414,...,2024-12-12 12:30,28769280.0,2024-12-11 23:30,21890880.0,2024-12-12 01:30,135.0,NaN,NaN,NaN,NaN

In [12]:
# Compute difference between row 0 and row 1
filtered_df = filtered_df[['cumulative_import', 'cumulative_export', 'rate1', 'rate2', 'rate3','rate4','rate5','rate6' ]]
filtered_df = filtered_df.astype(float)
diff_row = filtered_df.iloc[0] - filtered_df.iloc[1]


# Append the new row to the DataFrame
filtered_df.loc[len(filtered_df)] = diff_row
filtered_df

,cumulative_import,cumulative_export,rate1,rate2,rate3,rate4,rate5,rate6
0,1.069055e+09,1.069055e+09,5.776792e+08,3.154953e+08,1.758809e+08,8.378414,0.00549,0.0
1,1.058682e+09,1.058682e+09,5.719287e+08,3.125647e+08,1.741887e+08,8.378414,0.00549,0.0
2,1.037337e+07,1.037337e+07,5.750557e+06,2.930541e+06,1.692268e+06,0.000000,0.00000,0.0

In [13]:
#comparison = filtered_df.iloc[0] >= filtered_df.iloc[1]
# comfirm values in row 0 are greater than or equal to row 1
if (filtered_df.iloc[0] >= filtered_df.iloc[1]).all() == True:
    print("All values in row 0 are greater than or equal to row 1")
else:
    print("At least one value in row 0 is less than row 1")

All values in row 0 are greater than or equal to row 1

In [14]:
filtered_df['difference_import'] = filtered_df['cumulative_import']- (filtered_df['rate1'] + filtered_df['rate2'] + filtered_df['rate3']) 
filtered_df['difference_export'] = filtered_df['cumulative_export']- (filtered_df['rate4'] + filtered_df['rate5'] + filtered_df['rate6']) 
import_diff  = float(filtered_df['difference_import'].iloc[-1])
export_diff  = float(filtered_df['difference_export'].iloc[-1])
import_diff, export_diff

(-5.960464477539063e-08, 10373366.399999976)