In [1]:
import pandas as pd
import numpy as np
import openpyxl
from datetime import datetime
import gc

In [4]:
files = ['CW001292_hist.xls','CW001292_TOU.xls']
meter_no = files[0].split("_")[0].strip()
meter_no

'CW001292'

In [9]:
files[0]

'CW001292_hist.xls'

In [11]:
df = pd.read_table(files[0])
df

                             Values of Energy: 2025-02-01 00:00
NaN                                                       Value
Active Energy Imp. (MWh)                                20288.5
Active Energy Exp. (MWh)                                98499.9
Reactive Energy QI (Mvarh)                                390.4
Reactive Energy QII (Mvarh)                             35733.2
Reactive Energy QIII (Mvarh)                             3588.0
Reactive Energy QIV (Mvarh)                              4226.1
Apparent Energy Imp. (MVAh)                             20908.4
Apparent Energy Exp. (MVAh)                            110979.1
Reactive Energy Imp. (Mvarh)                            36123.6
Reactive Energy Exp. (Mvarh)                             7814.1
Reactive Energy Ind. (Mvarh)                             3978.4
Reactive Energy Cap. (Mvarh)                            39959.3

In [15]:
df.columns

Index(['Values of Energy: 2025-02-01 00:00'], dtype='object')