In [46]:
import pandas as pd
import numpy as np
import openpyxl
from datetime import datetime
from dateutil.relativedelta import relativedelta
import gc

In [47]:
file_path = "test.csv"
#file.head()

In [48]:
import csv
with open(file_path, newline='', encoding='utf-8') as file:
    reader = csv.reader(file)
    
    #Loop through each row and check if any cell contains '----'
    for row in reader:
        if any('----' in cell for cell in row):
            for item in row:
                if item.startswith("---"):
                    serial_no = item.split(" ")[0].replace("-"," ")
                    #print(row)  # Print the row containing the pattern
                    print(serial_no)
                    break
                
with open(file_path, newline='', encoding='utf-8') as file:    
    reader = csv.reader(file)
    i = 0
    for row in reader:        
        #if row0] == 'Historical Data':
        if "Historical Data Set" in row[1]:
            #print(row)
            print(i)
            break
        else:
            i+= 1
file.close()

       UETCL0107
       UETCL0107
23

In [49]:
# import pandas as pd

# # Replace with the actual path to your CSV file
# file_path = 'HIST12.csv'

# Read the CSV file, skipping the first 24 rows
df = pd.read_csv(file_path, skiprows=range(i))

# Display the resulting DataFrame
#df

In [50]:
df = df[[df.columns[3],df.columns[4],df.columns[5],df.columns[6]]]
df = df.rename(columns={df.columns[0]:'column1',df.columns[1]:'column2',df.columns[2]:'column3',df.columns[3]:'column4'})

In [51]:
first_index_imp = df[df['column2'] == 'Import Wh'].index[0] 
cumulative_import = df.at[first_index_imp, 'column1'].replace(",","")

first_index_exp = df[df['column2'] == 'Import Wh'].index[0] 
cumulative_export = df.at[first_index_exp, 'column1'].replace(",","")

apparent_import_index = df[df['column2'] == 'Total VAh'].index[0] 
apparent_import = df.at[apparent_import_index, 'column1'].replace(",","")

first_Q_react_imp = df[df['column2'] == 'Q1 varh'].index[0]
second_Q_react_imp = df[df['column2'] == 'Q2 varh'].index[0]
reactive_import = float(df.at[first_Q_react_imp, 'column1'].replace(",","")) + float(df.at[second_Q_react_imp, 'column1'].replace(",",""))

first_Q_react_exp = df[df['column2'] == 'Q3 varh'].index[0]
second_Q_react_exp = df[df['column2'] == 'Q4 varh'].index[0]
reactive_export = float(df.at[first_Q_react_exp, 'column1'].replace(",","")) + float(df.at[second_Q_react_exp, 'column1'].replace(",",""))

reactive_import, reactive_export

(386175425210.124, 10667961807.632)

In [52]:
rate1 = df.loc[df['column1'] == 'Rate 1', 'column2'].iloc[0].replace(",","")
rate2 = df.loc[df['column1'] == 'Rate 2', 'column2'].iloc[0].replace(",","")
rate3 = df.loc[df['column1'] == 'Rate 3', 'column2'].iloc[0].replace(",","")

rate4 = df.loc[df['column1'] == 'Rate 4', 'column2'].iloc[0].replace(",","")
rate5 = df.loc[df['column1'] == 'Rate 5', 'column2'].iloc[0].replace(",","")
rate6 = df.loc[df['column1'] == 'Rate 6', 'column2'].iloc[0].replace(",","")
rate1,rate6

('431408007060.190', '480600.000')

In [53]:
df

                  column1                         column2 column3 column4
0                     NaN                             NaN     NaN     NaN
1                   Value                          Source     NaN     NaN
2     883,005,223,060.190                       Import Wh     NaN     NaN
3             632,605.734                       Export Wh     NaN     NaN
4     386,175,387,648.124                         Q1 varh     NaN     NaN
...                   ...                             ...     ...     ...
1484           Period End  Friday, March 1, 2024 12:00 AM     NaN     NaN
1485       Billing Reason                             NaN     NaN     NaN
1486                  NaN          Automatic Billing Date     NaN     NaN
1487                  NaN                             NaN     NaN     NaN
1488                  NaN                             NaN     NaN     NaN

[1489 rows x 4 columns]

In [54]:
## MAXIMUM DEMANDS
max_dem1 = df.loc[df['column1'] == 'MD 1a', 'column2'].iloc[0].replace(",","")
max_dem1_time = df.loc[df['column1'] == 'MD 1a', 'column4'].iloc[0]

## MAXIMUM DEMANDS
max_dem2 = df.loc[df['column1'] == 'MD 2a', 'column2'].iloc[0].replace(",","")
max_dem2_time = df.loc[df['column1'] == 'MD 2a', 'column4'].iloc[0]

max_dem3 = df.loc[df['column1'] == 'MD 3a', 'column2'].iloc[0].replace(",","")
max_dem3_time = df.loc[df['column1'] == 'MD 3a', 'column4'].iloc[0]

#COUNT
billing_count = df.loc[df['column1'] == 'Count', 'column2'].iloc[0]

#BILLING PERIOD
billing_end = df.loc[df['column1'] == 'Period End', 'column2'].iloc[0]

In [55]:
dt1 = datetime.strptime(max_dem1_time, "%A, %B %d, %Y %I:%M:%S %p")
max_dem1_time = dt1.strftime("%Y-%d-%m %H:%M")

dt2 = datetime.strptime(max_dem2_time, "%A, %B %d, %Y %I:%M:%S %p")
max_dem2_time = dt2.strftime("%Y-%d-%m %H:%M")

dt3 = datetime.strptime(max_dem3_time, "%A, %B %d, %Y %I:%M:%S %p")
max_dem3_time = dt3.strftime("%Y-%d-%m %H:%M")
max_dem2_time

'2025-09-01 21:00'

In [56]:
# string1 = "Thursday, December 12, 2024 12:30:00 PM"
# dt1 = datetime.strptime(string1, "%A, %B %d, %Y %I:%M:%S %p")
# dt1.strftime("%Y-%d-%m %H:%M")

In [57]:
dt = datetime.strptime(billing_end, "%A, %B %d, %Y %I:%M %p")
billing_period = dt.strftime("%Y-%m-%d")
print(billing_period)

# # Format it to "YYYY-MM-DD"

# if dt.day == 1:
#     print("yes")
#     billing_period = dt - relativedelta(months=1)
#     billing_period = billing_period.strftime("%Y-%m-%d")

# else:
#     billing_period = dt.strftime("%Y-%m-%d")
# billing_period

2025-02-01

In [58]:
new_df = pd.DataFrame(columns=['serial_no','billing_period','cumulative_import', 'cumulative_export','apparent_import', 'reactive_import',
                               'reactive_export','rate1', 'rate2', 'rate3', 'rate4', 'rate5', 
        'rate6','max_dem1','max_dem1_datetime','max_dem2','max_dem2_datetime','max_dem3','max_dem3_datetime',
        ])

row1 = pd.DataFrame({
    'serial_no':[serial_no],
    'billing_period':[billing_period],
    'cumulative_import': [cumulative_import],
    'cumulative_export': [cumulative_export],
    'apparent_import':[apparent_import],
    'reactive_import':[reactive_import],
    'reactive_export':[reactive_export],
    'rate1': [rate1],
    'rate2': [rate2],
    'rate3': [rate3],
    'rate4': [rate4],
    'rate5': [rate5],
    'rate6': [rate6],
    'no_of_resets':[billing_count],
    'max_dem1':[max_dem1],
    'max_dem1_datetime':[max_dem1_time],
    'max_dem2':[max_dem2],
    'max_dem2_datetime':[max_dem2_time],
    'max_dem3':[max_dem3],
    'max_dem3_datetime':[max_dem3_time]
})

new_df = pd.concat([new_df, row1], ignore_index = True)
new_df

C:\Users\HP\AppData\Local\Temp\ipykernel_132\2186586648.py:29: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  new_df = pd.concat([new_df, row1], ignore_index = True)

,serial_no,billing_period,cumulative_import,cumulative_export,apparent_import,reactive_import,reactive_export,rate1,rate2,rate3,rate4,rate5,rate6,max_dem1,max_dem1_datetime,max_dem2,max_dem2_datetime,max_dem3,max_dem3_datetime,no_of_resets
0,UETCL0107,2025-02-01,883005223060.190,883005223060.190,977815437275.392,3.861754e+11,1.066796e+10,431408007060.190,279596152000.000,172001064000.000,49020.190,103205.734,480600.000,14927000.000,2025-10-01 12:00,17044000.000,2025-09-01 21:00,12239600.000,2025-05-01 01:00,146.000

In [59]:
columns_to_assign_na = ['vt_ratio', 'ct_ratio', 'date_of_last_reset', 'programing_count']

for column in columns_to_assign_na:
    new_df[column] = pd.NA

In [60]:
new_df

,serial_no,billing_period,cumulative_import,cumulative_export,apparent_import,reactive_import,reactive_export,rate1,rate2,rate3,...,max_dem1_datetime,max_dem2,max_dem2_datetime,max_dem3,max_dem3_datetime,no_of_resets,vt_ratio,ct_ratio,date_of_last_reset,programing_count
0,UETCL0107,2025-02-01,883005223060.190,883005223060.190,977815437275.392,3.861754e+11,1.066796e+10,431408007060.190,279596152000.000,172001064000.000,...,2025-10-01 12:00,17044000.000,2025-09-01 21:00,12239600.000,2025-05-01 01:00,146.000,<NA>,<NA>,<NA>,<NA>

In [61]:
new_df.columns

Index(['serial_no', 'billing_period', 'cumulative_import', 'cumulative_export',
       'apparent_import', 'reactive_import', 'reactive_export', 'rate1',
       'rate2', 'rate3', 'rate4', 'rate5', 'rate6', 'max_dem1',
       'max_dem1_datetime', 'max_dem2', 'max_dem2_datetime', 'max_dem3',
       'max_dem3_datetime', 'no_of_resets', 'vt_ratio', 'ct_ratio',
       'date_of_last_reset', 'programing_count'],
      dtype='object')

In [62]:
billing_end

'Saturday, February 1, 2025 12:00 AM'

In [66]:
row1 ={'serial_no':serial_no,'billing_period':billing_period,'cumulative_import': cumulative_import,
    'cumulative_export': cumulative_export,'apparent_import':apparent_import,'reactive_import':reactive_import,
    'reactive_export':reactive_export,'rate1': rate1,'rate2': rate2,'rate3': rate3,'rate4': rate4,'rate5': rate5,
    'rate6':rate6,'no_of_resets':billing_count,'max_dem1':max_dem1,'max_dem1_datetime':max_dem1_time,'max_dem2':max_dem2,
    'max_dem2_datetime':max_dem2_time,'max_dem3':max_dem3,'max_dem3_datetime':max_dem3_time,
    'vt_ratio': pd.NA, 'ct_ratio': pd.NA, 'date_of_last_reset': pd.NA, 'programing_count': pd.NA
}
row1

{'serial_no': '       UETCL0107',
 'billing_period': '2025-02-01',
 'cumulative_import': '883005223060.190',
 'cumulative_export': '883005223060.190',
 'apparent_import': '977815437275.392',
 'reactive_import': 386175425210.124,
 'reactive_export': 10667961807.632,
 'rate1': '431408007060.190',
 'rate2': '279596152000.000',
 'rate3': '172001064000.000',
 'rate4': '49020.190',
 'rate5': '103205.734',
 'rate6': '480600.000',
 'no_of_resets': '146.000',
 'max_dem1': '14927000.000',
 'max_dem1_datetime': '2025-10-01 12:00',
 'max_dem2': '17044000.000',
 'max_dem2_datetime': '2025-09-01 21:00',
 'max_dem3': '12239600.000',
 'max_dem3_datetime': '2025-05-01 01:00',
 'vt_ratio': <NA>,
 'ct_ratio': <NA>,
 'date_of_last_reset': <NA>,
 'programing_count': <NA>}

In [64]:
list_to_divide = ['cumulative_import'
 'cumulative_export',
 'apparent_import',
 'reactive_import',
 'reactive_export',
 'rate1',
 'rate2',
 'rate3',
 'rate4',
 'rate5',
 'rate6']

In [71]:
for key, value in row1.items():
    #print(key)
    
    if key in list_to_divide:
        #print("YES")
        #print(value)
        row1[key] = float(value) / 1000
        print(row1[key])


row1

0.9778154372753919
0.386175425210124
0.010667961807631998
0.43140800706019
0.27959615200000004
0.172001064
4.902019e-08
1.0320573399999999e-07
4.806e-07

{'serial_no': '       UETCL0107',
 'billing_period': '2025-02-01',
 'cumulative_import': '883005223060.190',
 'cumulative_export': '883005223060.190',
 'apparent_import': 0.9778154372753919,
 'reactive_import': 0.386175425210124,
 'reactive_export': 0.010667961807631998,
 'rate1': 0.43140800706019,
 'rate2': 0.27959615200000004,
 'rate3': 0.172001064,
 'rate4': 4.902019e-08,
 'rate5': 1.0320573399999999e-07,
 'rate6': 4.806e-07,
 'no_of_resets': '146.000',
 'max_dem1': '14927000.000',
 'max_dem1_datetime': '2025-10-01 12:00',
 'max_dem2': '17044000.000',
 'max_dem2_datetime': '2025-09-01 21:00',
 'max_dem3': '12239600.000',
 'max_dem3_datetime': '2025-05-01 01:00',
 'vt_ratio': <NA>,
 'ct_ratio': <NA>,
 'date_of_last_reset': <NA>,
 'programing_count': <NA>}

In [ ]:
431,408,007,060.19