In [1]:
import pandas as pd
import numpy as np
import openpyxl
from datetime import datetime
from dateutil.relativedelta import relativedelta
import gc

In [2]:
file = pd.read_csv('HIST.csv')
#file.head()

In [3]:
import csv

# Replace with the actual path to your CSV file
file_path = 'HIST.csv'

# Open and read the CSV file
with open(file_path, newline='', encoding='utf-8') as file:
    reader = csv.reader(file)
    
    # Loop through each row and check if any cell contains '----'
    # for row in reader:
    #     if any('----' in cell for cell in row):
    #         print(row)  # Print the row containing the pattern

    i = 0
    for row in reader:
        i+= 1
        if row[0] == 'Historical Data':
            print(row)
            print(i)
            break
        
        #break

['Historical Data', '', '', '', '', '', '', '']
23

In [125]:
import pandas as pd

# Replace with the actual path to your CSV file
file_path = 'HIST12.csv'

# Read the CSV file, skipping the first 24 rows
df = pd.read_csv(file_path, skiprows=range(23))

# Display the resulting DataFrame
#df

In [ ]:
df = df[[df.columns[3],df.columns[4],df.columns[5],df.columns[6]]]
df = df.rename(columns={df.columns[0]:'column1',df.columns[1]:'column2',df.columns[2]:'column3',df.columns[3]:'column4'})

In [128]:
first_index_imp = df[df['column2'] == 'Import Wh'].index[0] 
cumulative_import = df.at[first_index_imp, 'column1'].replace(",","")

first_index_exp = df[df['column2'] == 'Import Wh'].index[0] 
cumulative_export = df.at[first_index_exp, 'column1'].replace(",","")

apparent_import_index = df[df['column2'] == 'Total VAh'].index[0] 
apparent_import = df.at[apparent_import_index, 'column1'].replace(",","")

first_Q_react_imp = df[df['column2'] == 'Q1 varh'].index[0]
second_Q_react_imp = df[df['column2'] == 'Q2 varh'].index[0]
reactive_import = float(df.at[first_Q_react_imp, 'column1'].replace(",","")) + float(df.at[second_Q_react_imp, 'column1'].replace(",",""))

first_Q_react_exp = df[df['column2'] == 'Q3 varh'].index[0]
second_Q_react_exp = df[df['column2'] == 'Q4 varh'].index[0]
reactive_export = float(df.at[first_Q_react_exp, 'column1'].replace(",","")) + float(df.at[second_Q_react_exp, 'column1'].replace(",",""))

reactive_import, reactive_export

(2500.01, 218129144520.0)

In [131]:
rate1 = df.loc[df['column1'] == 'Rate 1', 'column2'].iloc[0].replace(",","")
rate2 = df.loc[df['column1'] == 'Rate 2', 'column2'].iloc[0].replace(",","")
rate3 = df.loc[df['column1'] == 'Rate 3', 'column2'].iloc[0].replace(",","")

rate4 = df.loc[df['column1'] == 'Rate 4', 'column2'].iloc[0].replace(",","")
rate5 = df.loc[df['column1'] == 'Rate 5', 'column2'].iloc[0].replace(",","")
rate6 = df.loc[df['column1'] == 'Rate 6', 'column2'].iloc[0].replace(",","")
rate1,rate6

('6923960.00', '170110806600.00')

In [132]:
## MAXIMUM DEMANDS
max_dem1 = df.loc[df['column1'] == 'MD 1a', 'column2'].iloc[0].replace(",","")
max_dem1_time = df.loc[df['column1'] == 'MD 1a', 'column4'].iloc[0]

## MAXIMUM DEMANDS
max_dem2 = df.loc[df['column1'] == 'MD 2a', 'column2'].iloc[0].replace(",","")
max_dem2_time = df.loc[df['column1'] == 'MD 2a', 'column4'].iloc[0]

max_dem3 = df.loc[df['column1'] == 'MD 3a', 'column2'].iloc[0].replace(",","")
max_dem3_time = df.loc[df['column1'] == 'MD 3a', 'column4'].iloc[0]

#COUNT
billing_count = df.loc[df['column1'] == 'Count', 'column2'].iloc[0]

#BILLING PERIOD
billing_end = df.loc[df['column1'] == 'Period End', 'column2'].iloc[0]

In [134]:
dt1 = datetime.strptime(max_dem1_time, "%A, %B %d, %Y %I:%M:%S %p")
max_dem1_time = dt1.strftime("%Y-%d-%m %H:%M")

dt2 = datetime.strptime(max_dem2_time, "%A, %B %d, %Y %I:%M:%S %p")
max_dem2_time = dt2.strftime("%Y-%d-%m %H:%M")

dt3 = datetime.strptime(max_dem3_time, "%A, %B %d, %Y %I:%M:%S %p")
max_dem3_time = dt3.strftime("%Y-%d-%m %H:%M")
max_dem2_time

'2025-31-01 18:30'

In [135]:
dt = datetime.strptime(billing_end, "%A, %B %d, %Y %I:%M %p")

# Format it to "YYYY-MM-DD"

if dt.day == 1:
    print("yes")
    billing_period = dt - relativedelta(months=1)
    billing_period = billing_period.strftime("%Y-%m-%d")

else:
    billing_period = dt.strftime("%Y-%m-%d")
billing_period

yes

'2025-01-01'

In [142]:
new_df = pd.DataFrame(columns=['cumulative_import', 'cumulative_export','apparent_import', 'reactive_import',
                               'reactive_export','rate1', 'rate2', 'rate3', 'rate4', 'rate5', 
        'rate6','max_dem1','max_dem1_datetime','max_dem2','max_dem2_datetime','max_dem3','max_dem3_datetime',
        ])

row1 = pd.DataFrame({
    'cumulative_import': [cumulative_import],
    'cumulative_export': [cumulative_export],
    'apparent_import':[apparent_import],
    'reactive_import':[reactive_import],
    'reactive_export':[reactive_export],
    'rate1': [rate1],
    'rate2': [rate2],
    'rate3': [rate3],
    'rate4': [rate4],
    'rate5': [rate5],
    'rate6': [rate6],
    'no_of_resets':[billing_count],
    'max_dem1':[max_dem1],
    'max_dem1_datetime':[max_dem1_time],
    'max_dem2':[max_dem2],
    'max_dem2_datetime':[max_dem2_time],
    'max_dem3':[max_dem3],
    'max_dem3_datetime':[max_dem3_time]
})

new_df = pd.concat([new_df, row1], ignore_index = True)
new_df

C:\Users\HP\AppData\Local\Temp\ipykernel_13764\664068811.py:27: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  new_df = pd.concat([new_df, row1], ignore_index = True)

,cumulative_import,cumulative_export,apparent_import,reactive_import,reactive_export,rate1,rate2,rate3,rate4,rate5,rate6,max_dem1,max_dem1_datetime,max_dem2,max_dem2_datetime,max_dem3,max_dem3_datetime,no_of_resets
0,7913600.00,7913600.00,705095978180.00,2500.01,2.181291e+11,6923960.00,0,0,324365133880.00,172981089960.00,170110806600.00,13758800.00,2025-30-01 16:00,10068800.00,2025-31-01 18:30,10493200.00,2025-14-01 06:00,173

In [143]:
columns_to_assign_na = ['vt_ratio', 'ct_ratio', 'date_of_last_reset', 'programing_count']

for column in columns_to_assign_na:
    new_df[column] = pd.NA

In [145]:
new_df

,cumulative_import,cumulative_export,apparent_import,reactive_import,reactive_export,rate1,rate2,rate3,rate4,rate5,...,max_dem1_datetime,max_dem2,max_dem2_datetime,max_dem3,max_dem3_datetime,no_of_resets,vt_ratio,ct_ratio,date_of_last_reset,programing_count
0,7913600.00,7913600.00,705095978180.00,2500.01,2.181291e+11,6923960.00,0,0,324365133880.00,172981089960.00,...,2025-30-01 16:00,10068800.00,2025-31-01 18:30,10493200.00,2025-14-01 06:00,173,<NA>,<NA>,<NA>,<NA>